# 基本設定

In [1]:
import setting

import pandas as pd
import numpy as np
import math
import pathlib as Path

import scipy as sc
import sklearn
import pickle
import matplotlib.pyplot as plt
import japanize_matplotlib
import seaborn as sb
sb.set(font='IPAexGothic')

# データ格納先設定
data_path = Path.Path('../data')
# 接頭辞
prefix = 'ana400'

# データ抽出
> 軸データ（ana103_base_smpl.pkl）\
> 決済（ana301_ftr_rec.pkl）\
> 顧客（ana302_ftr_cus.pkl）

In [2]:
# 軸データ
base = pd.read_pickle(data_path / 'ana103_base_smpl.pkl')

# 決済
_rec = pd.read_pickle(data_path / 'ana301_ftr_rec.pkl')

# 顧客
_cus = pd.read_pickle(data_path / 'ana302_ftr_cus.pkl')

# データ結合

In [3]:
key = ['customer_id_nys']

# 軸データに外部結合
_df = base.merge(_rec, on=key, how='left').merge(_cus, on=key, how='left')
_df

,customer_id_nys,flg_sts,flg_train,FTR_avg_sum_amt_0,FTR_avg_sum_amt_1,FTR_avg_sum_amt_2,FTR_avg_sum_amt_3,FTR_avg_sum_amt_4,FTR_avg_sum_amt_5,FTR_avg_sum_amt_6,...,FTR_gender_男性,FTR_kbn_age_10代,FTR_kbn_age_20代,FTR_kbn_age_30代,FTR_kbn_age_40代,FTR_kbn_age_50代,FTR_kbn_age_60代,FTR_kbn_age_70代,FTR_kbn_age_80代,FTR_kbn_age_90代
0,CS005415000212,0,1,0.0,1164.0,356.0,357.000000,0.0,0.0,383.0,...,0,0,0,0,1,0,0,0,0,0
1,CS038314000063,1,1,0.0,0.0,108.0,0.000000,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,0
2,CS028415000181,0,1,202.0,0.0,0.0,340.000000,0.0,0.0,1461.5,...,0,0,0,0,1,0,0,0,0,0
3,CS014514000027,1,1,0.0,0.0,0.0,0.000000,0.0,0.0,256.0,...,0,0,0,0,0,1,0,0,0,0
4,CS025215000003,0,1,383.0,0.0,0.0,974.000000,0.0,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3359,CS022514000068,0,0,0.0,368.0,0.0,0.000000,466.0,0.0,0.0,...,0,0,0,0,0,1,0,0,0,0
3360,CS012414000086,1,0,958.0,0.0,0.0,293.000000,0.0,0.0,484.0,...,0,0,0,0,1,0,0,0,0,0
3361,CS023514000029,1,0,0.0,0.0,0.0,0.000000,314.0,0.0,0.0,...,0,0,0,0,0,1,0,0,0,0
3362,CS025515000053,1,0,0.0,308.0,0.0,0.000000,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,0,0
3363,CS014414000069,0,0,0.0,0.0,0.0,449.333333,0.0,0.0,335.0,...,0,0,0,0,1,0,0,0,0,0

# データ保存

In [4]:
_df.to_pickle(data_path / ('%s_ana.pkl' % prefix))